In [705]:
import pandas as pd

Data from United States Census Bureau 2022

https://data.census.gov/table/ACSST1Y2022.S1901?t=Income%20and%20Poverty&g=010XX00US,$0400000

In [706]:
df = pd.read_csv("US_Income_2022.csv")

In [707]:
df.shape

(17, 425)

In [708]:
df.columns

for col in df.columns[1:]:
    print(col.find('!!'), col[:col.find('!!')])

13 United States
13 United States
13 United States
13 United States
13 United States
13 United States
13 United States
13 United States
7 Alabama
7 Alabama
7 Alabama
7 Alabama
7 Alabama
7 Alabama
7 Alabama
7 Alabama
6 Alaska
6 Alaska
6 Alaska
6 Alaska
6 Alaska
6 Alaska
6 Alaska
6 Alaska
7 Arizona
7 Arizona
7 Arizona
7 Arizona
7 Arizona
7 Arizona
7 Arizona
7 Arizona
8 Arkansas
8 Arkansas
8 Arkansas
8 Arkansas
8 Arkansas
8 Arkansas
8 Arkansas
8 Arkansas
10 California
10 California
10 California
10 California
10 California
10 California
10 California
10 California
8 Colorado
8 Colorado
8 Colorado
8 Colorado
8 Colorado
8 Colorado
8 Colorado
8 Colorado
11 Connecticut
11 Connecticut
11 Connecticut
11 Connecticut
11 Connecticut
11 Connecticut
11 Connecticut
11 Connecticut
8 Delaware
8 Delaware
8 Delaware
8 Delaware
8 Delaware
8 Delaware
8 Delaware
8 Delaware
20 District of Columbia
20 District of Columbia
20 District of Columbia
20 District of Columbia
20 District of Columbia
20 District of Columbia
20 District of Columbia
20 District of Columbia
7 Florida
7 Florida
7 Florida
7 Florida
7 Florida
7 Florida
7 Florida
7 Florida
7 Georgia
7 Georgia
7 Georgia
7 Georgia
7 Georgia
7 Georgia
7 Georgia
7 Georgia
6 Hawaii
6 Hawaii
6 Hawaii
6 Hawaii
6 Hawaii
6 Hawaii
6 Hawaii
6 Hawaii
5 Idaho
5 Idaho
5 Idaho
5 Idaho
5 Idaho
5 Idaho
5 Idaho
5 Idaho
8 Illinois
8 Illinois
8 Illinois
8 Illinois
8 Illinois
8 Illinois
8 Illinois
8 Illinois
7 Indiana
7 Indiana
7 Indiana
7 Indiana
7 Indiana
7 Indiana
7 Indiana
7 Indiana
4 Iowa
4 Iowa
4 Iowa
4 Iowa
4 Iowa
4 Iowa
4 Iowa
4 Iowa
6 Kansas
6 Kansas
6 Kansas
6 Kansas
6 Kansas
6 Kansas
6 Kansas
6 Kansas
8 Kentucky
8 Kentucky
8 Kentucky
8 Kentucky
8 Kentucky
8 Kentucky
8 Kentucky
8 Kentucky
9 Louisiana
9 Louisiana
9 Louisiana
9 Louisiana
9 Louisiana
9 Louisiana
9 Louisiana
9 Louisiana
5 Maine
5 Maine
5 Maine
5 Maine
5 Maine
5 Maine
5 Maine
5 Maine
8 Maryland
8 Maryland
8 Maryland
8 Maryland
8 Maryland
8 Maryland
8 Maryland
8 Maryland
13 Massachusetts
13 Massachusetts
13 Massachusetts
13 Massachusetts
13 Massachusetts
13 Massachusetts
13 Massachusetts
13 Massachusetts
8 Michigan
8 Michigan
8 Michigan
8 Michigan
8 Michigan
8 Michigan
8 Michigan
8 Michigan
9 Minnesota
9 Minnesota
9 Minnesota
9 Minnesota
9 Minnesota
9 Minnesota
9 Minnesota
9 Minnesota
11 Mississippi
11 Mississippi
11 Mississippi
11 Mississippi
11 Mississippi
11 Mississippi
11 Mississippi
11 Mississippi
8 Missouri
8 Missouri
8 Missouri
8 Missouri
8 Missouri
8 Missouri
8 Missouri
8 Missouri
7 Montana
7 Montana
7 Montana
7 Montana
7 Montana
7 Montana
7 Montana
7 Montana
8 Nebraska
8 Nebraska
8 Nebraska
8 Nebraska
8 Nebraska
8 Nebraska
8 Nebraska
8 Nebraska
6 Nevada
6 Nevada
6 Nevada
6 Nevada
6 Nevada
6 Nevada
6 Nevada
6 Nevada
13 New Hampshire
13 New Hampshire
13 New Hampshire
13 New Hampshire
13 New Hampshire
13 New Hampshire
13 New Hampshire
13 New Hampshire
10 New Jersey
10 New Jersey
10 New Jersey
10 New Jersey
10 New Jersey
10 New Jersey
10 New Jersey
10 New Jersey
10 New Mexico
10 New Mexico
10 New Mexico
10 New Mexico
10 New Mexico
10 New Mexico
10 New Mexico
10 New Mexico
8 New York
8 New York
8 New York
8 New York
8 New York
8 New York
8 New York
8 New York
14 North Carolina
14 North Carolina
14 North Carolina
14 North Carolina
14 North Carolina
14 North Carolina
14 North Carolina
14 North Carolina
12 North Dakota
12 North Dakota
12 North Dakota
12 North Dakota
12 North Dakota
12 North Dakota
12 North Dakota
12 North Dakota
4 Ohio
4 Ohio
4 Ohio
4 Ohio
4 Ohio
4 Ohio
4 Ohio
4 Ohio
8 Oklahoma
8 Oklahoma
8 Oklahoma
8 Oklahoma
8 Oklahoma
8 Oklahoma
8 Oklahoma
8 Oklahoma
6 Oregon
6 Oregon
6 Oregon
6 Oregon
6 Oregon
6 Oregon
6 Oregon
6 Oregon
12 Pennsylvania
12 Pennsylvania
12 Pennsylvania
12 Pennsylvania
12 Pennsylvania
12 Pennsylvania
12 Pennsylvania
12 Pennsylvania
12 Rhode Island
12 Rhode Island
12 Rhode Island
12 Rhode Island
12 Rhode Island
12 Rhode Island
12 Rhode Island
12 Rhode Island
14 South Carolina
14 South Carolina
14 South Carolina
14 South Carolina
14 South Carolina
14 South Carolina
14 South Carolina
14 South Carolina
12 South Dakota
12 South Dakota
12 South Dakota
12 South Dakota
12 South Dakota
12 South Dakota
12 South Dakota
12 South Dakota
9 Tennessee
9 Tennessee
9 Tennessee
9 Tennessee
9 Tennessee
9 Tennessee
9 Tennessee
9 Tennessee
5 Texas
5 Texas
5 Texas
5 Texas
5 Texas
5 Texas
5 Texas
5 Texas
4 Utah
4 Utah
4 Utah
4 Utah
4 Utah
4 Utah
4 Utah
4 Utah
7 Vermont
7 Vermont
7 Vermont
7 Vermont
7 Vermont
7 Vermont
7 Vermont
7 Vermont
8 Virginia
8 Virginia
8 Virginia
8 Virginia
8 Virginia
8 Virginia
8 Virginia
8 Virginia
10 Washington
10 Washington
10 Washington
10 Washington
10 Washington
10 Washington
10 Washington
10 Washington
13 West Virginia
13 West Virginia
13 West Virginia
13 West Virginia
13 West Virginia
13 West Virginia
13 West Virginia
13 West Virginia
9 Wisconsin
9 Wisconsin
9 Wisconsin
9 Wisconsin
9 Wisconsin
9 Wisconsin
9 Wisconsin
9 Wisconsin
7 Wyoming
7 Wyoming
7 Wyoming
7 Wyoming
7 Wyoming
7 Wyoming
7 Wyoming
7 Wyoming
11 Puerto Rico
11 Puerto Rico
11 Puerto Rico
11 Puerto Rico
11 Puerto Rico
11 Puerto Rico
11 Puerto Rico
11 Puerto Rico

In [709]:
df.head(17)

,Label (Grouping),United States!!Households!!Estimate,United States!!Households!!Margin of Error,United States!!Families!!Estimate,United States!!Families!!Margin of Error,United States!!Married-couple families!!Estimate,United States!!Married-couple families!!Margin of Error,United States!!Nonfamily households!!Estimate,United States!!Nonfamily households!!Margin of Error,Alabama!!Households!!Estimate,...,Wyoming!!Nonfamily households!!Estimate,Wyoming!!Nonfamily households!!Margin of Error,Puerto Rico!!Households!!Estimate,Puerto Rico!!Households!!Margin of Error,Puerto Rico!!Families!!Estimate,Puerto Rico!!Families!!Margin of Error,Puerto Rico!!Married-couple families!!Estimate,Puerto Rico!!Married-couple families!!Margin of Error,Puerto Rico!!Nonfamily households!!Estimate,Puerto Rico!!Nonfamily households!!Margin of Error
0,Total,"129,870,928","±136,261","83,304,153","±133,863","60,921,873","±168,299","46,566,775","±117,191","2,016,448",...,"89,956","±4,423","1,289,311","±9,077","820,788","±12,139","449,853","±9,197","468,523","±9,435"
1,"Less than $10,000",5.5%,±0.1,3.4%,±0.1,1.5%,±0.1,10.2%,±0.1,7.6%,...,9.6%,±1.7,22.4%,±0.6,16.7%,±0.8,7.7%,±0.7,35.1%,±1.2
2,"$10,000 to $14,999",3.7%,±0.1,1.8%,±0.1,0.9%,±0.1,7.4%,±0.1,5.2%,...,6.9%,±1.4,10.8%,±0.5,8.9%,±0.6,7.4%,±0.7,14.9%,±0.9
3,"$15,000 to $24,999",6.8%,±0.1,4.4%,±0.1,2.6%,±0.1,11.7%,±0.1,9.3%,...,13.3%,±1.9,18.2%,±0.6,18.1%,±0.8,16.0%,±0.9,19.8%,±0.9
4,"$25,000 to $34,999",7.3%,±0.1,5.6%,±0.1,3.8%,±0.1,10.9%,±0.1,8.6%,...,12.7%,±1.8,12.5%,±0.5,13.6%,±0.7,13.4%,±0.9,10.6%,±0.8
5,"$35,000 to $49,999",10.7%,±0.1,9.3%,±0.1,7.2%,±0.1,13.8%,±0.1,12.0%,...,15.9%,±2.0,12.9%,±0.6,14.3%,±0.8,16.3%,±1.3,8.7%,±0.7
6,"$50,000 to $74,999",16.2%,±0.1,15.7%,±0.1,14.3%,±0.1,17.3%,±0.1,16.7%,...,17.5%,±2.0,10.8%,±0.4,13.2%,±0.7,16.5%,±0.9,5.2%,±0.6
7,"$75,000 to $99,999",12.8%,±0.1,13.9%,±0.1,14.4%,±0.1,10.3%,±0.1,12.6%,...,10.4%,±1.7,5.6%,±0.4,6.7%,±0.5,9.2%,±0.8,2.6%,±0.4
8,"$100,000 to $149,999",16.9%,±0.1,20.1%,±0.1,22.9%,±0.1,10.2%,±0.1,14.9%,...,8.2%,±1.9,3.9%,±0.3,4.9%,±0.4,7.2%,±0.7,1.7%,±0.3
9,"$150,000 to $199,999",8.7%,±0.1,11.0%,±0.1,13.4%,±0.1,3.9%,±0.1,6.4%,...,2.2%,±0.9,1.6%,±0.2,1.9%,±0.3,3.1%,±0.5,0.8%,±0.3
10,"$200,000 or more",11.5%,±0.1,14.9%,±0.1,19.0%,±0.1,4.4%,±0.1,6.7%,...,3.3%,±1.2,1.5%,±0.2,1.8%,±0.3,3.1%,±0.5,0.6%,±0.2
11,Median income (dollars),"74,755",±148,"92,148",±207,"109,250",±230,"45,046",±166,"59,674",...,"40,019","±2,776","24,112",±515,"29,544",±757,"39,637","±1,117","15,006",±414
12,Mean income (dollars),"105,555",±198,"124,663",±281,"144,576",±336,"66,351",±245,"82,956",...,"57,301","±3,886","39,142",±949,"45,243","±1,375","59,169","±2,220","24,694",±893
13,PERCENT ALLOCATED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Household income in the past 12 months,37.6%,(X),(X),(X),(X),(X),(X),(X),38.9%,...,(X),(X),35.5%,(X),(X),(X),(X),(X),(X),(X)
15,Family income in the past 12 months,(X),(X),39.6%,(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),38.1%,(X),(X),(X),(X),(X)
16,Nonfamily income in the past 12 months,(X),(X),(X),(X),(X),(X),32.7%,(X),(X),...,28.8%,(X),(X),(X),(X),(X),(X),(X),28.2%,(X)

In [710]:
df.iloc[:, 1:]

,United States!!Households!!Estimate,United States!!Households!!Margin of Error,United States!!Families!!Estimate,United States!!Families!!Margin of Error,United States!!Married-couple families!!Estimate,United States!!Married-couple families!!Margin of Error,United States!!Nonfamily households!!Estimate,United States!!Nonfamily households!!Margin of Error,Alabama!!Households!!Estimate,Alabama!!Households!!Margin of Error,...,Wyoming!!Nonfamily households!!Estimate,Wyoming!!Nonfamily households!!Margin of Error,Puerto Rico!!Households!!Estimate,Puerto Rico!!Households!!Margin of Error,Puerto Rico!!Families!!Estimate,Puerto Rico!!Families!!Margin of Error,Puerto Rico!!Married-couple families!!Estimate,Puerto Rico!!Married-couple families!!Margin of Error,Puerto Rico!!Nonfamily households!!Estimate,Puerto Rico!!Nonfamily households!!Margin of Error
0,"129,870,928","±136,261","83,304,153","±133,863","60,921,873","±168,299","46,566,775","±117,191","2,016,448","±11,475",...,"89,956","±4,423","1,289,311","±9,077","820,788","±12,139","449,853","±9,197","468,523","±9,435"
1,5.5%,±0.1,3.4%,±0.1,1.5%,±0.1,10.2%,±0.1,7.6%,±0.3,...,9.6%,±1.7,22.4%,±0.6,16.7%,±0.8,7.7%,±0.7,35.1%,±1.2
2,3.7%,±0.1,1.8%,±0.1,0.9%,±0.1,7.4%,±0.1,5.2%,±0.3,...,6.9%,±1.4,10.8%,±0.5,8.9%,±0.6,7.4%,±0.7,14.9%,±0.9
3,6.8%,±0.1,4.4%,±0.1,2.6%,±0.1,11.7%,±0.1,9.3%,±0.3,...,13.3%,±1.9,18.2%,±0.6,18.1%,±0.8,16.0%,±0.9,19.8%,±0.9
4,7.3%,±0.1,5.6%,±0.1,3.8%,±0.1,10.9%,±0.1,8.6%,±0.5,...,12.7%,±1.8,12.5%,±0.5,13.6%,±0.7,13.4%,±0.9,10.6%,±0.8
5,10.7%,±0.1,9.3%,±0.1,7.2%,±0.1,13.8%,±0.1,12.0%,±0.4,...,15.9%,±2.0,12.9%,±0.6,14.3%,±0.8,16.3%,±1.3,8.7%,±0.7
6,16.2%,±0.1,15.7%,±0.1,14.3%,±0.1,17.3%,±0.1,16.7%,±0.5,...,17.5%,±2.0,10.8%,±0.4,13.2%,±0.7,16.5%,±0.9,5.2%,±0.6
7,12.8%,±0.1,13.9%,±0.1,14.4%,±0.1,10.3%,±0.1,12.6%,±0.4,...,10.4%,±1.7,5.6%,±0.4,6.7%,±0.5,9.2%,±0.8,2.6%,±0.4
8,16.9%,±0.1,20.1%,±0.1,22.9%,±0.1,10.2%,±0.1,14.9%,±0.5,...,8.2%,±1.9,3.9%,±0.3,4.9%,±0.4,7.2%,±0.7,1.7%,±0.3
9,8.7%,±0.1,11.0%,±0.1,13.4%,±0.1,3.9%,±0.1,6.4%,±0.3,...,2.2%,±0.9,1.6%,±0.2,1.9%,±0.3,3.1%,±0.5,0.8%,±0.3
10,11.5%,±0.1,14.9%,±0.1,19.0%,±0.1,4.4%,±0.1,6.7%,±0.3,...,3.3%,±1.2,1.5%,±0.2,1.8%,±0.3,3.1%,±0.5,0.6%,±0.2
11,"74,755",±148,"92,148",±207,"109,250",±230,"45,046",±166,"59,674",±727,...,"40,019","±2,776","24,112",±515,"29,544",±757,"39,637","±1,117","15,006",±414
12,"105,555",±198,"124,663",±281,"144,576",±336,"66,351",±245,"82,956","±1,020",...,"57,301","±3,886","39,142",±949,"45,243","±1,375","59,169","±2,220","24,694",±893
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,37.6%,(X),(X),(X),(X),(X),(X),(X),38.9%,(X),...,(X),(X),35.5%,(X),(X),(X),(X),(X),(X),(X)
15,(X),(X),39.6%,(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),38.1%,(X),(X),(X),(X),(X)
16,(X),(X),(X),(X),(X),(X),32.7%,(X),(X),(X),...,28.8%,(X),(X),(X),(X),(X),(X),(X),28.2%,(X)

In [711]:
df.columns.str.contains('Households!!Estimate') | df.columns.str.contains('Grouping')

array([ True,  True, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False,  True,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False])

In [712]:
household_df = df.loc[:, df.columns.str.contains('Households!!Estimate') | df.columns.str.contains('Grouping')][:13]
household_df.head()

,Label (Grouping),United States!!Households!!Estimate,Alabama!!Households!!Estimate,Alaska!!Households!!Estimate,Arizona!!Households!!Estimate,Arkansas!!Households!!Estimate,California!!Households!!Estimate,Colorado!!Households!!Estimate,Connecticut!!Households!!Estimate,Delaware!!Households!!Estimate,...,Tennessee!!Households!!Estimate,Texas!!Households!!Estimate,Utah!!Households!!Estimate,Vermont!!Households!!Estimate,Virginia!!Households!!Estimate,Washington!!Households!!Estimate,West Virginia!!Households!!Estimate,Wisconsin!!Households!!Estimate,Wyoming!!Households!!Estimate,Puerto Rico!!Households!!Estimate
0,Total,"129,870,928","2,016,448","274,574","2,850,377","1,216,207","13,550,586","2,384,584","1,433,635","402,334",...,"2,846,684","11,087,708","1,129,660","277,090","3,380,607","3,079,953","736,341","2,491,121","243,321","1,289,311"
1,"Less than $10,000",5.5%,7.6%,4.4%,5.4%,7.3%,4.8%,4.1%,5.1%,4.0%,...,5.4%,5.5%,3.0%,4.0%,4.9%,4.5%,7.1%,4.6%,5.2%,22.4%
2,"$10,000 to $14,999",3.7%,5.2%,2.5%,3.0%,5.9%,3.2%,2.5%,3.2%,2.6%,...,4.3%,3.6%,2.4%,3.8%,3.2%,2.8%,6.3%,3.5%,3.4%,10.8%
3,"$15,000 to $24,999",6.8%,9.3%,5.4%,6.2%,9.5%,5.5%,5.4%,5.9%,5.8%,...,7.8%,6.6%,4.1%,6.7%,5.8%,4.9%,10.5%,7.0%,7.5%,18.2%
4,"$25,000 to $34,999",7.3%,8.6%,5.3%,7.3%,9.1%,5.9%,5.8%,6.0%,7.1%,...,8.2%,7.8%,5.9%,8.1%,6.1%,5.4%,9.9%,7.4%,8.2%,12.5%

In [713]:
household_df.columns
for col in household_df.columns[1:]:
    print(col[:col.find('!!')])

United States
Alabama
Alaska
Arizona
Arkansas
California
Colorado
Connecticut
Delaware
District of Columbia
Florida
Georgia
Hawaii
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana
Nebraska
Nevada
New Hampshire
New Jersey
New Mexico
New York
North Carolina
North Dakota
Ohio
Oklahoma
Oregon
Pennsylvania
Rhode Island
South Carolina
South Dakota
Tennessee
Texas
Utah
Vermont
Virginia
Washington
West Virginia
Wisconsin
Wyoming
Puerto Rico

In [714]:
# rankings_pd.rename(columns = {'test':'TEST'}, inplace = True)
# household_df.rename(columns = [col[:col.find('!!')] for col in household_df.columns[1:]])

In [715]:
# rankings_pd.set_axis(['A', 'B', 'C'], axis='columns')
# household_df.set_axis([col[:col.find('!!')] for col in household_df.columns[1:]], axis='columns')

In [716]:
household_df.columns = [col[:col.find('!!')] for col in household_df.columns]

In [717]:
household_df = household_df.rename(columns={'Label (Grouping': 'STATE'})

In [718]:
household_df.head()

,STATE,United States,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Puerto Rico
0,Total,"129,870,928","2,016,448","274,574","2,850,377","1,216,207","13,550,586","2,384,584","1,433,635","402,334",...,"2,846,684","11,087,708","1,129,660","277,090","3,380,607","3,079,953","736,341","2,491,121","243,321","1,289,311"
1,"Less than $10,000",5.5%,7.6%,4.4%,5.4%,7.3%,4.8%,4.1%,5.1%,4.0%,...,5.4%,5.5%,3.0%,4.0%,4.9%,4.5%,7.1%,4.6%,5.2%,22.4%
2,"$10,000 to $14,999",3.7%,5.2%,2.5%,3.0%,5.9%,3.2%,2.5%,3.2%,2.6%,...,4.3%,3.6%,2.4%,3.8%,3.2%,2.8%,6.3%,3.5%,3.4%,10.8%
3,"$15,000 to $24,999",6.8%,9.3%,5.4%,6.2%,9.5%,5.5%,5.4%,5.9%,5.8%,...,7.8%,6.6%,4.1%,6.7%,5.8%,4.9%,10.5%,7.0%,7.5%,18.2%
4,"$25,000 to $34,999",7.3%,8.6%,5.3%,7.3%,9.1%,5.9%,5.8%,6.0%,7.1%,...,8.2%,7.8%,5.9%,8.1%,6.1%,5.4%,9.9%,7.4%,8.2%,12.5%

In [719]:
# household_df = household_df.T

In [720]:
# household_df.reset_index()

In [721]:
household_df = household_df.set_index('STATE').T

In [722]:
household_df.head()

STATE,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars)
United States,"129,870,928",5.5%,3.7%,6.8%,7.3%,10.7%,16.2%,12.8%,16.9%,8.7%,11.5%,"74,755","105,555"
Alabama,"2,016,448",7.6%,5.2%,9.3%,8.6%,12.0%,16.7%,12.6%,14.9%,6.4%,6.7%,"59,674","82,956"
Alaska,"274,574",4.4%,2.5%,5.4%,5.3%,9.1%,15.8%,13.2%,21.8%,11.1%,11.4%,"88,121","109,524"
Arizona,"2,850,377",5.4%,3.0%,6.2%,7.3%,11.0%,17.3%,13.8%,17.8%,8.6%,9.6%,"74,568","101,316"
Arkansas,"1,216,207",7.3%,5.9%,9.5%,9.1%,13.5%,18.1%,12.6%,13.4%,5.1%,5.5%,"55,432","76,853"

In [723]:
household_df = household_df.sort_index(axis=0)

In [724]:
household_df.head()

STATE,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars)
Alabama,"2,016,448",7.6%,5.2%,9.3%,8.6%,12.0%,16.7%,12.6%,14.9%,6.4%,6.7%,"59,674","82,956"
Alaska,"274,574",4.4%,2.5%,5.4%,5.3%,9.1%,15.8%,13.2%,21.8%,11.1%,11.4%,"88,121","109,524"
Arizona,"2,850,377",5.4%,3.0%,6.2%,7.3%,11.0%,17.3%,13.8%,17.8%,8.6%,9.6%,"74,568","101,316"
Arkansas,"1,216,207",7.3%,5.9%,9.5%,9.1%,13.5%,18.1%,12.6%,13.4%,5.1%,5.5%,"55,432","76,853"
California,"13,550,586",4.8%,3.2%,5.5%,5.9%,8.5%,13.8%,12.0%,17.6%,10.6%,18.0%,"91,551","131,504"

Data from National Education Assocation 2022 - 2023

TEACHER SALARY BENCHMARK AVERAGES: https://www.nea.org/resource-library/educator-pay-and-student-spending-how-does-your-state-rank/starting-teacher 

STARTING TEACHER PAY DATA:  https://www.nea.org/resource-library/educator-pay-and-student-spending-how-does-your-state-rank/starting-teacher 

*Higher paying districts are more likely to offer advanced degree supplements than are lower paying districts, resulting in average Top Master’s being greater than average Top Salary.

In [725]:
df_2 = pd.read_csv("Teacher_Starting_Salary.csv")

In [726]:
df_2.shape

(53, 9)

In [727]:
df_2.columns

Index(['STATE', 'STARTING SALARY', 'RANK', '$40K DISTRICTS',
       'DISTRICT PERCENT', '$40K TEACHERS', 'TEACHER PERCENT',
       'STARTING SALARY 2021-2022', 'SALARY CHANGE'],
      dtype='object')

In [728]:
df_2.head()

,STATE,STARTING SALARY,RANK,$40K DISTRICTS,DISTRICT PERCENT,$40K TEACHERS,TEACHER PERCENT,STARTING SALARY 2021-2022,SALARY CHANGE
0,Alabama,"$43,679",23,138,100.00%,"38,133",100.00%,"$41,974",4.10%
1,Alaska,"$51,207",6,46,100.00%,"7,008",100.00%,"$50,083",2.20%
2,Arizona,"$44,124",21,117,81.80%,"45,381",93.90%,"$41,791",5.60%
3,Arkansas,"$37,907",48,47,20.20%,"18,805",50.80%,"$37,168",2.00%
4,California,"$55,283",4,833,97.80%,"239,022",100.00%,"$51,904",6.50%

In [729]:
starting_df = df_2.iloc[:, :8:7]

In [730]:
starting_df.head()

        STATE STARTING SALARY 2021-2022
0     Alabama                   $41,974
1      Alaska                   $50,083
2     Arizona                   $41,791
3    Arkansas                   $37,168
4  California                   $51,904

In [731]:
starting_df = starting_df.set_index('STATE')

In [732]:
starting_df.head()

           STARTING SALARY 2021-2022
STATE
Alabama                      $41,974
Alaska                       $50,083
Arizona                      $41,791
Arkansas                     $37,168
California                   $51,904


AVERAGE TEACHER SALARY DATA: https://www.nea.org/resource-library/educator-pay-and-student-spending-how-does-your-state-rank/teacher

Note: Connecticut, District of Columbia, Montana, and Rhode Island salary averages are estimated. National averages are weighted by the number of teachers in each state. Source: NEA Rankings & Estimates, April 2024

In [733]:
df_3 = pd.read_csv("Teacher_Avg_Salary.csv")

In [734]:
df_3.shape

(52, 7)

In [735]:
df_3.columns

Index(['STATE', 'SALARY 2021-22', 'RANK 2021-22', 'SALARY 2022-23',
       'RANK 2022-23', '2021-22 TO 2022-23 PERCENT CHANGE',
       '2021-22 TO 2022-23 CHANGE RANK'],
      dtype='object')

In [736]:
df_3.head()

,STATE,SALARY 2021-22,RANK 2021-22,SALARY 2022-23,RANK 2022-23,2021-22 TO 2022-23 PERCENT CHANGE,2021-22 TO 2022-23 CHANGE RANK
0,Alabama,"$55,882",34,"$60,441",31,8.20%,3
1,Alaska,"$74,167",10,"$76,371",10,3.00%,33
2,Arizona,"$56,775",32,"$60,275",32,6.20%,8
3,Arkansas,"$52,610",45,"$54,309",45,3.20%,24
4,California,"$88,508",3,"$95,160",1,7.50%,4

In [737]:
average_df = df_3.iloc[:, :2]

In [738]:
average_df.head()

        STATE SALARY 2021-22
0     Alabama        $55,882
1      Alaska        $74,167
2     Arizona        $56,775
3    Arkansas        $52,610
4  California        $88,508

In [739]:
average_df = average_df.set_index('STATE')

In [740]:
average_df.head()

           SALARY 2021-22
STATE
Alabama           $55,882
Alaska            $74,167
Arizona           $56,775
Arkansas          $52,610
California        $88,508

In [745]:
# pd.merge(household_df, starting_df)

In [744]:
# pd.concat([household_df, starting_df])

In [743]:
household_df.join(starting_df.join(average_df))

,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars),STARTING SALARY 2021-2022,SALARY 2021-22
Alabama,"2,016,448",7.6%,5.2%,9.3%,8.6%,12.0%,16.7%,12.6%,14.9%,6.4%,6.7%,"59,674","82,956","$41,974","$55,882"
Alaska,"274,574",4.4%,2.5%,5.4%,5.3%,9.1%,15.8%,13.2%,21.8%,11.1%,11.4%,"88,121","109,524","$50,083","$74,167"
Arizona,"2,850,377",5.4%,3.0%,6.2%,7.3%,11.0%,17.3%,13.8%,17.8%,8.6%,9.6%,"74,568","101,316","$41,791","$56,775"
Arkansas,"1,216,207",7.3%,5.9%,9.5%,9.1%,13.5%,18.1%,12.6%,13.4%,5.1%,5.5%,"55,432","76,853","$37,168","$52,610"
California,"13,550,586",4.8%,3.2%,5.5%,5.9%,8.5%,13.8%,12.0%,17.6%,10.6%,18.0%,"91,551","131,504","$51,904","$88,508"
Colorado,"2,384,584",4.1%,2.5%,5.4%,5.8%,9.2%,15.1%,13.4%,19.0%,10.7%,14.7%,"89,302","119,039","$37,106","$60,130"
Connecticut,"1,433,635",5.1%,3.2%,5.9%,6.0%,8.7%,13.8%,12.6%,17.7%,10.8%,16.3%,"88,429","128,160","$48,007","$81,185"
Delaware,"402,334",4.0%,2.6%,5.8%,7.1%,10.4%,15.9%,13.9%,20.0%,9.4%,10.8%,"82,174","105,438","$44,037","$66,918"
District of Columbia,"326,970",6.8%,2.8%,5.1%,4.6%,7.0%,12.3%,10.7%,16.6%,10.3%,23.7%,"101,027","148,872",NaN,NaN
Florida,"8,826,394",5.6%,3.5%,7.2%,8.0%,11.7%,17.4%,13.4%,16.0%,7.7%,9.5%,"69,303","99,349","$45,440","$51,532"
Georgia,"4,092,467",5.6%,3.6%,6.9%,7.3%,11.2%,16.8%,13.3%,16.9%,8.2%,10.2%,"72,837","99,863","$38,926","$62,240"
Hawaii,"494,827",5.3%,2.6%,5.1%,5.2%,8.6%,14.8%,12.0%,20.1%,11.0%,15.4%,"92,458","120,969","$50,123","$67,000"
Idaho,"717,151",3.8%,3.4%,6.5%,7.6%,11.5%,19.0%,15.4%,18.0%,7.0%,7.7%,"72,785","94,503","$40,393","$54,232"
Illinois,"5,056,360",5.9%,3.5%,6.5%,7.1%,10.1%,15.9%,12.9%,17.6%,9.0%,11.6%,"76,708","106,728","$42,224","$72,315"
Indiana,"2,726,489",5.6%,3.8%,7.1%,8.2%,12.6%,18.0%,14.1%,16.6%,7.3%,6.8%,"66,785","88,805","$40,921","$54,625"
Iowa,"1,330,995",4.3%,3.6%,7.5%,7.4%,12.2%,18.4%,14.2%,17.3%,7.8%,7.3%,"69,588","92,695","$39,146","$59,581"
Kansas,"1,175,294",5.3%,3.6%,7.5%,8.1%,11.7%,17.8%,13.5%,16.9%,7.6%,8.1%,"68,925","93,221","$40,099","$55,250"
Kentucky,"1,828,680",6.8%,5.8%,8.9%,8.9%,12.4%,17.5%,12.6%,14.9%,6.2%,6.0%,"59,341","82,614","$38,010","$54,574"
Louisiana,"1,816,902",7.9%,6.0%,10.2%,9.4%,12.0%,16.4%,11.5%,14.2%,6.2%,6.2%,"55,416","79,175","$43,137","$52,589"
Maine,"605,338",4.7%,4.0%,7.6%,7.6%,11.9%,17.6%,13.7%,17.3%,7.7%,7.9%,"69,543","93,555","$39,101","$57,929"
Maryland,"2,375,984",4.8%,2.6%,4.9%,5.5%,8.3%,13.5%,12.5%,18.7%,11.6%,17.5%,"94,991","125,876","$49,451","$75,766"
Massachusetts,"2,797,776",5.2%,3.6%,5.6%,5.6%,8.3%,12.7%,11.3%,17.6%,11.0%,19.0%,"94,488","133,823","$49,544","$89,538"
Michigan,"4,089,794",5.7%,4.0%,7.6%,8.1%,12.0%,17.6%,13.2%,16.4%,7.5%,8.1%,"66,986","91,856","$39,023","$64,884"
Minnesota,"2,322,190",4.3%,3.1%,5.6%,6.4%,9.8%,16.3%,13.8%,19.0%,10.2%,11.6%,"82,338","109,737","$42,197","$67,600"
Mississippi,"1,148,340",8.1%,6.4%,10.6%,9.3%,13.2%,17.4%,12.1%,13.2%,4.8%,4.9%,"52,719","72,624","$37,729","$47,902"
Missouri,"2,521,832",5.7%,4.4%,7.7%,8.5%,12.3%,17.9%,13.4%,16.2%,6.9%,7.0%,"64,811","88,586","$34,052","$52,481"
Montana,"464,072",5.0%,4.4%,7.4%,7.8%,12.5%,17.9%,15.0%,16.0%,6.6%,7.5%,"67,631","90,874","$33,545","$53,628"
Nebraska,"803,157",4.9%,3.4%,7.4%,7.6%,12.4%,17.4%,13.5%,17.4%,8.0%,8.0%,"69,597","94,599","$37,116","$57,420"
Nevada,"1,198,356",5.6%,3.1%,6.5%,7.4%,11.6%,17.6%,13.6%,17.9%,7.9%,8.8%,"72,333","98,422","$42,552","$57,804"
New Hampshire,"557,220",3.1%,2.8%,5.3%,5.7%,8.8%,16.0%,13.1%,18.6%,11.5%,15.0%,"89,992","119,452","$40,412","$62,783"
New Jersey,"3,516,978",4.4%,2.9%,5.0%,5.9%,7.9%,13.7%,11.6%,18.1%,11.5%,18.9%,"96,346","134,191","$55,151","$78,387"
New Mexico,"848,218",7.4%,4.9%,9.5%,9.2%,12.1%,16.3%,12.5%,15.6%,6.4%,6.3%,"59,726","82,382","$42,941","$54,272"
New York,"7,774,308",6.8%,4.1%,6.7%,6.5%,9.3%,14.3%,11.6%,16.4%,9.4%,15.0%,"79,557","119,130","$48,165","$91,097"
North Carolina,"4,299,266",5.4%,4.0%,7.4%,8.1%,12.1%,17.7%,13.0%,16.0%,7.4%,8.7%,"67,481","94,353","$37,676","$54,863"
North Dakota,"331,481",5.0%,4.0%,6.6%,6.7%,11.8%,17.6%,14.1%,17.8%,8.0%,8.3%,"71,970","97,699","$41,556","$56,364"
Ohio,"4,878,206",5.9%,4.4%,7.5%,8.2%,12.0%,17.8%,13.2%,16.0%,7.4%,7.7%,"65,720","90,109","$39,115","$64,353"
Oklahoma,"1,573,180",6.4%,4.6%,9.2%,8.8%,13.2%,18.1%,12.4%,14.8%,6.3%,6.2%,"59,673","82,741","$38,137","$54,804"
Oregon,"1,726,340",5.1%,3.4%,6.9%,6.7%,10.9%,16.6%,13.3%,17.9%,8.6%,10.6%,"75,657","102,923","$40,380","$70,402"
Pennsylvania,"5,294,065",5.5%,3.7%,7.3%,7.7%,10.8%,16.9%,12.6%,16.8%,8.3%,10.3%,"71,798","100,015","$47,811","$73,072"
Puerto Rico,"1,289,311",22.4%,10.8%,18.2%,12.5%,12.9%,10.8%,5.6%,3.9%,1.6%,1.5%,"24,112","39,142",NaN,NaN
Rhode Island,"446,688",5.4%,4.3%,6.2%,6.0%,8.4%,15.5%,13.1%,19.0%,10.1%,11.9%,"81,854","108,023","$45,250","$76,852"
South Carolina,"2,136,080",6.1%,4.2%,7.8%,8.8%,12.6%,17.4%,13.5%,15.6%,6.6%,7.5%,"64,115","88,704","$39,033","$54,814"
South Dakota,"368,300",5.0%,3.8%,7.3%,7.5%,11.5%,18.4%,14.3%,18.2%,7.1%,6.9%,"69,728","90,806","$41,170","$50,592"
Tennessee,"2,846,684",5.4%,4.3%,7.8%,8.2%,12.6%,18.0%,13.3%,15.7%,7.2%,7.5%,"65,254","89,799","$40,254","$53,285"
Texas,"11,087,708",5.5%,3.6%,6.6%,7.8%,11.0%,17.1%,12.8%,16.2%,8.7%,10.7%,"72,284","101,738","$45,389","$58,887"
United States,"129,870,928",5.5%,3.7%,6.8%,7.3%,10.7%,16.2%,12.8%,16.9%,8.7%,11.5%,"74,755","105,555","$42,875","$66,805"
Utah,"1,129,660",3.0%,2.4%,4.1%,5.9%,9.1%,17.0%,14.4%,21.0%,11.2%,11.9%,"89,168","114,044","$46,880","$59,671"
Vermont,"277,090",4.0%,3.8%,6.7%,8.1%,11.0%,17.1%,13.8%,17.1%,9.9%,8.5%,"73,991","97,261","$41,688","$64,162"
Virginia,"3,380,607",4.9%,3.2%,5.8%,6.1%,9.3%,14.9%,12.2%,18.1%,10.3%,15.4%,"85,873","119,058","$43,845","$61,367"
Washington,"3,079,953",4.5%,2.8%,4.9%,5.4%,8.8%,14.7%,13.1%,18.9%,10.5%,16.2%,"91,306","125,847","$52,142","$81,510"
West Virginia,"736,341",7.1%,6.3%,10.5%,9.9%,12.5%,17.4%,12.2%,14.2%,5.1%,4.8%,"54,329","75,265","$38,052","$50,315"
Wisconsin,"2,491,121",4.6%,3.5%,7.0%,7.4%,12.0%,18.1%,13.7%,18.1%,8.0%,7.6%,"70,996","94,085","$39,955","$60,724"
Wyoming,"243,321",5.2%,3.4%,7.5%,8.2%,11.3%,17.7%,13.8%,18.7%,7.6%,6.6%,"70,042","90,018","$47,321","$60,819"

# Graph Info Copied from other Notebook

### Minimum Wage

In [ ]:
# top_5_min = df_min_wage[df_min_wage['State'] != 'NATIONAL'].nlargest(5, 'Annual Salary')
# bottom_5_min = df_min_wage[df_min_wage['State'] != 'NATIONAL'].nsmallest(5, 'Annual Salary').sort_values(by='Annual Salary', ascending=False)

# pov_value = df_pov_guid['National_PG'].min()

# fig, axs = plt.subplots(1, 2, figsize=(15, 6), sharey=True) 

# axs[0].bar(top_5_min['State'], top_5_min['Annual Salary'], color='skyblue')
# axs[0].axhline(pov_value, color='red', linewidth=2, linestyle='--', label=f'Poverty Line')
# axs[0].set_title('Highest 5 Salaries')
# axs[0].set_xlabel('State')
# axs[0].set_ylabel('Salary')
# axs[0].legend()

# axs[1].bar(bottom_5_min['State'], bottom_5_min['Annual Salary'], color='lightcoral')
# axs[1].axhline(pov_value, color='red', linewidth=2, linestyle='--', label=f'Poverty Line')
# axs[1].set_title('Lowest 5 Salaries')
# axs[1].set_xlabel('State')
# axs[1].set_ylabel('Salary')
# axs[1].legend()

# fig.suptitle('Minimum Wage Salaries', fontsize=16)

# plt.show()

### Living Wage

In [ ]:
# top_5_liv = df_liv_wage.nlargest(5, 'Annual Salary')
# bottom_5_liv = df_liv_wage.nsmallest(5, 'Annual Salary').sort_values(by='Annual Salary', ascending=False)

# fig, axs = plt.subplots(1, 2, figsize=(15, 6), sharey=True) 

# axs[0].bar(top_5_liv['State'], top_5_liv['Annual Salary'], color='skyblue')
# axs[0].axhline(pov_value, color='red', linewidth=2, linestyle='--', label=f'Poverty Line')
# axs[0].set_title('Highest 5 Salaries')
# axs[0].set_xlabel('State')
# axs[0].set_ylabel('Salary')
# axs[0].legend()

# axs[1].bar(bottom_5_liv['State'], bottom_5_liv['Annual Salary'], color='lightcoral')
# axs[1].axhline(pov_value, color='red', linewidth=2, linestyle='--', label=f'Poverty Line')
# axs[1].set_title('Lowest 5 Salaries')
# axs[1].set_xlabel('State')
# axs[1].set_ylabel('Salary')
# axs[1].legend()

# fig.suptitle('Living Wage Salaries', fontsize=16)

# plt.tight_layout()

# plt.show()

### Median & Average Salaries

In [ ]:
# top_5_sal = df_salaries.sort_values(by='Median Salary').nlargest(5, 'Median Salary')
# bottom_5_sal = df_salaries.sort_values(by='Median Salary').nsmallest(5, 'Median Salary').sort_values(by='Median Salary', ascending=False)

# barWidth = 0.25

# r1 = np.arange(len(top_5_min['State']))
# r2 = [x + barWidth for x in r1]

# fig, axs = plt.subplots(1, 2, figsize=(15, 6), sharey=True) 

# axs[0].bar(r1, top_5_sal['Median Salary'], color='skyblue', width=barWidth, label='Median Salary')
# axs[0].bar(r2, top_5_sal['Average Salary'], color='blue', width=barWidth, label='Average Salary')
# axs[0].axhline(pov_value, color='red', linewidth=2, linestyle='--', label=f'Poverty Line')
# axs[0].set_title('Highest 5 Median Salaries')
# axs[0].set_xlabel('State')
# axs[0].set_ylabel('Salary')
# axs[0].set_xticks([r + barWidth / 2 for r in range(len(top_5_sal['State']))], top_5_sal['State'])
# axs[0].legend()

# axs[1].bar(r1, bottom_5_sal['Median Salary'], color='coral', width=barWidth, label='Median Salary')
# axs[1].bar(r2, bottom_5_sal['Average Salary'], color='pink', width=barWidth, label='Average Salary')
# axs[1].axhline(pov_value, color='red', linewidth=2, linestyle='--', label=f'Poverty Line')
# axs[1].set_title('Lowest 5 Median Salaries')
# axs[1].set_xlabel('State')
# axs[1].set_ylabel('Salary')
# axs[1].set_xticks([r + barWidth / 2 for r in range(len(bottom_5_sal['State']))], bottom_5_sal['State'])
# axs[1].legend()

# fig.suptitle('Median & Average Salaries', fontsize=16)

# plt.tight_layout()

# plt.show()

### Starting Teacher Salary

In [ ]:
# top_5_star = df_star_sal.nlargest(5, 'Starting Salary')
# bottom_5_star = df_star_sal.nsmallest(5, 'Starting Salary').sort_values(by='Starting Salary', ascending=False)

# fig, axs = plt.subplots(1, 2, figsize=(15, 6), sharey=True) 

# axs[0].bar(top_5_star['State'], top_5_star['Starting Salary'], color='skyblue')
# axs[0].axhline(pov_value, color='red', linewidth=2, linestyle='--', label=f'Poverty Line')
# axs[0].set_title('Highest 5 Salaries')
# axs[0].set_xlabel('State')
# axs[0].set_ylabel('Salary')
# axs[0].legend()

# axs[1].bar(bottom_5_star['State'], bottom_5_star['Starting Salary'], color='lightcoral')
# axs[1].axhline(pov_value, color='red', linewidth=2, linestyle='--', label=f'Poverty Line')
# axs[1].set_title('Lowest 5 Salaries')
# axs[1].set_xlabel('State')
# axs[1].set_ylabel('Salary')
# axs[1].legend()

# fig.suptitle('Starting Salaries for Teachers', fontsize=16)

# plt.tight_layout()

# plt.show()

### Average Teacher Salary

In [ ]:
# top_5_avg = df_avg_sal.nlargest(5, '2022 - 2023')
# bottom_5_avg = df_avg_sal.nsmallest(5, '2022 - 2023').sort_values(by='2022 - 2023', ascending=False)

# fig, axs = plt.subplots(1, 2, figsize=(15, 6), sharey=True) 

# axs[0].bar(top_5_avg['State'], top_5_avg['2022 - 2023'], color='skyblue')
# axs[0].axhline(pov_value, color='red', linewidth=2, linestyle='--', label=f'Poverty Line')
# axs[0].set_title('Highest 5 Salaries')
# axs[0].set_xlabel('State')
# axs[0].set_ylabel('Salary')
# axs[0].legend()

# axs[1].bar(bottom_5_avg['State'], bottom_5_avg['2022 - 2023'], color='lightcoral')
# axs[1].axhline(pov_value, color='red', linewidth=2, linestyle='--', label=f'Poverty Line')
# axs[1].set_title('Lowest 5 Salaries')
# axs[1].set_xlabel('State')
# axs[1].set_ylabel('Salary')
# axs[1].legend()

# fig.suptitle('Average Salaries for Teachers', fontsize=16)

# plt.tight_layout()

# plt.show()